 body{
font-family: Arial,Helvetica, sans-serif;
 box-sizing: border-box;
;

 }
p{
font-size: 10px;
text-align: center;
}

 h1{
font-size: 20px;
text-align: center;
margin-top: 40px;

 }
 .buttonReg{
  text-align: center;
 }
 .town{
 text-align: center;
 }

.registrationNu input{
outline: 1px solid pink;
margin: 0.25em 0em 1me 0em;
padding: 0.5em;
/*border: black;*/
font-weight: bold;
border-radius: 0.25em;
width: 25%;
 text-align: center;
 }
.registrationNu{
  text-align: center;
}
.clear{
text-align: center;
}


 button{
padding: 0.75em;
background-color: lightpink;
color: black;
border-radius: 0.25em;
  font-size: 10px;
    font-weight: bold;
    margin: 20px 0;
    width: 10%;
    border: 0;
   /* border: black;*/
    align-items: center;
    text-align: center;
    justify-content: center;

 }
 button:hover{
cursor: pointer;
background-color: lightpink;
 }

 .msg{
text-align: center;
}

ul{
display: flex;
 text-align: center;
 align-items: center;
 justify-content: center;
}

 .msg li{
  display: flex;
  text-align: center;
 align-items: center;
 justify-content: center;
 margin-left: 5px;


 }

 .regAdd{
  display: flex;
    justify-content: center;
    align-items: center;
 }
 .registration{
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #DBF9FC;
   max-width: 100%;
  margin: auto;
  margin-left: 350px;
  margin-right: 350px;
  margin-top: 50px;
  border-radius: 10px;

S
 }
 .clear{
    margin-left: 5px;
}

.clear button{
padding: 0.75em;
background-color: lightpink;
color: black;
border-radius: 0.25em;
  font-size: 10px;
    font-weight: bold;
    margin: 20px 0;
    width: 10%;
    border: 0;
   /* border: black;*/
    align-items: center;
    text-align: center;
    justify-content: center;

 }
 .clear button:hover{
cursor: pointer;
background-color: lightpink;
 }